@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Особисті дані";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт має певні особисті дані. На цій сторінці ви можете завантажити їх або видалити</p>
        <p>
            <strong>Видалення цієї інформації видалить її назавжди з сайту без можливості відновлення.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Завантажити</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Видалити</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
