@page
@model GameShop.Pages.ShopCarts.Error

@{
    TempData["Title"] = "Помилка";
}


<div class="site_part ">
    <div class="part_inner">
        <div style="display:flex; flex-direction: column; align-items: center;justify-content: center;">
            <div class="error" style="display:flex; flex-direction: column; align-items: center;justify-content: center;width: 454px;height: 454px;background-repeat: no-repeat;background-position: center;">
                <div style="font-family: 'Roboto';font-style: normal;font-weight: 700;font-size: 96px;line-height: 112px;">УПС</div>
                <div style="font-family: 'Roboto';font-style: normal;font-weight: 500;font-size: 36px;line-height: 42px;text-align: center;width:290px;">
                    Вибачте, але ви спробували додати кількіть товарів, яка не доступна зараз.
                </div>
            </div>
            <div class="benefit_content" style="width: 471px;font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 20px;margin-top:20px;line-height: 28px;text-align: center;">
                Зв'яжіться з нашим менеджером за цим номером телефону <a href="tel:+5555555555555">+5555555555555</a>, якщо вас цікавить більша кількість товару.
                <a asp-page="ShopCarts">Повернутися до кошику</a>
            </div>
        </div>

    </div>
</div>